language: generic

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5

script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_CXX_COMPILER=g++-5 -DCMAKE_C_COMPILER=gcc-5 ..
  - make
  - git clone -n https://github.com/kupix/bitstreams.git
  - cd bitstreams
  - git checkout b19d683
  - cd ..
  - ./turing/turing signature ../test/
  - ./turing/turing testdecode
